body{
    padding-top: 20px;
}
.tape{
}
.row1{
    border-style: solid solid none;
    text-align: center;
}
th{
    width:18px;
}
.row2{
    border-style: dotted solid solid solid;
    color:red;
    text-align: center;
}
.tape-symbol{
    margin-right: 5px;
}

ol{
    padding-left: 0;
}

.transition-function-input{
    width: 20px;
}

